version: "3.8"

services:
  pocketbase:
    image: ghcr.io/muchobien/pocketbase:latest
    command: serve --migrationsDir=/pb/pb_migrations
    container_name: pocketbase
    ports:
      - "8090:8090"
    volumes:
      - ./backend/pb_data:/pb_data
      - ./backend/pb_migrations:/pb/pb_migrations
    restart: unless-stopped
